h1{
    color: rgb(1, 5, 20);
    background-color: rgb(246, 250, 3);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 0 16px;
    border-bottom: 1px solid gray;
}
button{
    cursor: pointer;
    border: 1px solid dimgray;
    background-color: gray;
}