<header>

<!DOCTYPE html>
{{!-- <html lang="en"> --}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}

    <title>Document</title>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="home" class="w3-bar-item w3-button w3-wide">weather</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="/" class="w3-bar-item w3-button">HOME</a>
                <a href="/help" class="w3-bar-item w3-button"><i class="fa fa-user"></i> HELP</a>
                <a href="/about" class="w3-bar-item w3-button"><i class="fa fa-th"></i> ABOUT</a>
                <a href="/" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> WEATHER</a>
                <a href="/contect" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
    </a>
        </div>
    </div>

</body>

</html>
</header>